@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";


:root {
    --font-montserrat: 'montserrat';
    --main-bg: #ffffff;
    --searchbar-bg: #f5f5f5;
    --primary-btn-bg: rgb(252, 154, 13, 1);
    --secondary-btn-bg: rgb(255, 146, 12);
    --sidebar-bg: rgb(220, 224, 225);
    --profile-sidebar-bg: rgb(15, 50, 58);
}

* {
    box-sizing: border-box;
    ::-webkit-scrollbar { 
        display: none; 
    }
    scrollbar-width: none;
}

body {
    font-family: var(--font-montserrat);
    background-color: rgb(229, 229, 234);
    overflow-x: hidden;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* change to 3 for 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.filter-amber-700 {
  filter: invert(50%) sepia(99%) saturate(600%) hue-rotate(5deg) brightness(98%) contrast(104%);
}
.filter-slate-500 {
  filter: invert(57%) sepia(9%) saturate(380%) hue-rotate(183deg) brightness(91%) contrast(89%);
}
